* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  background-color: rgb(232, 226, 216);
  min-height: 100vh;
}

.title {
  color: rgb(110, 98, 79);
  font-size: 40px;
  margin: 15px 0px;
}

.todo-container {
  max-width: 100%;
  width: 380px;
}

.todo-input {
  border: none;
  /* border-radius: 3px; */
  padding-left: 10px;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 15px;
}

.todo-list {
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todo-list li {
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  height: 40px;
  padding: 5px; /* 텍스트 중간 정렬하기 */
  color: rgb(110, 98, 79);
  border-top: 5px solid rgb(232, 226, 216);
  display: flex;
}

li button {
  width: 16px;
  height: 16px;
  margin: 3px 10px;
  background-color: rgba(110, 98, 79, 0.319);
  border: none;
}

li button:active {
  background-color: rgba(110, 98, 79, 0.572);
}

li .text {
  width: 310px;
}

li .delete {
  font-size: 18px;
  cursor: pointer;
}

.delete-button {
  border: none;
  background-color: rgba(110, 98, 79, 0.572);
  color: white;
  width: 65px;
  height: 25px;
  border-radius: 3px;
  padding: 5px;
  margin-top: 1.8rem;
}

.complete {
  color: gray;
  text-decoration: line-through;
}
